<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{ 'app.welcome' | translate }}</span>
    <div class="spacer"></div>
    <div class="language-picker-area">
      <div class="picker-label">{{ 'global.language' | translate }}</div>
      <select (change)="selectLanguage($event)" class="language-picker">
        <option value="en-US">English</option>
        <option value="es-LAT">Español</option>
      </select>
    </div>
</div>

<div class="content" role="main">
  <app-user-input (submitValue)="submitValue($event)"></app-user-input>
  <hr>
  <div *ngIf="displayLoading" class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
  <div *ngIf="displayNoMatchMessage && !pairsOfPlayers.length && !displayLoading">{{ 'app.No_matches_found' | translate }}</div>
  <table class="table table-dark table-striped">
    <tbody>
      <tr *ngFor="let player of pairsOfPlayers; let key=index">
        <td>{{ key+1 }}</td>
        <td>{{ player[0].first_name }} {{ player[0].last_name }}</td>
        <td>{{ player[1].first_name }} {{ player[1].last_name }}</td>
      </tr>
    </tbody>
  </table>
</div>